.app-button {
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  background: var(--primary-color);
  color: black;
  transition: background 0.2s;
  display: flex;     
  align-items: center;    
  gap: 0.5rem;    
}
.app-button-primary {
  background: #FFD700;
}
.app-button-primary:hover {
  background: #FFC000;
}
.app-button-secondary {
  background: #F1F5F9;
  color: #222;
}
